@model IEnumerable<Szakdoli.Models.TermekTipus>

@{
    ViewData["Title"] = "Termék típusok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Termék típus lista</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Raktar vezeto"))
{
    <p>
        <a asp-action="Create">Új hozzáadása</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipusNev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suly)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipusNev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suly)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TipusID">Szerkeszt</a> |
                    <a asp-action="Details" asp-route-id="@item.TipusID">Részletek</a> |
                    <a asp-action="Delete" asp-route-id="@item.TipusID">Törlés</a>
                </td>
            </tr>
        }
    </tbody>
</table>
