@model Szakdoli.Models.Termek

@{
    ViewData["Title"] = "Törlés";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Biztos törölni akarja ?</h3>
<div>
    <h4>Termek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacio.LokacioId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipus.TipusID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Betarazva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Betarazva)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TermekID" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="Index">Termék lista</a>
    </form>
</div>
