@model Szakdoli.Models.Termek

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Termek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacio.LokacioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipus.TipusNev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Betarazva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Betarazva)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TermekID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
