@model IEnumerable<Szakdoli.Models.Termek>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<form asp-controller="Termeks" asp-action="Index">
    <p>
        Title: <input type="text" name="Search">
        <input type="submit" value="Szűrés" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lokacio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermekID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Betarazva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lokacio.LokacioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipus.TipusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermekID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Betarazva)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TermekID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TermekID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TermekID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
