@model Szakdoli.Models.Lokacio

@{
    ViewData["Title"] = "Törlés";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tárhely törlése</h1>

<h3>Biztos törölni akarja ?</h3>
<div>
    <h4>Lokacio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LokacioNev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LokacioNev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raktar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raktar.RaktarId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foglalt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foglalt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LokacioId" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="Index">Vissza a lista nézethez</a>
    </form>
</div>
