
@model IEnumerable<Alkalmazott>
@{
    ViewData["Title"] = "Alkalmazottak";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Alkalmazottak</h1>


<form asp-controller="Alkalmazott" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Szűrés" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Teljes Nev
            </th>
            <th>
                Felhasznalo nev
            </th>
            <th>
                Telephely
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeljesNev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RaktarID)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Részletek</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
                </td>
            </tr>
        }
    </tbody>
</table>