@model Szakdoli.Models.Raktar

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Raktar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonSZam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonSZam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RaktarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
