@model IEnumerable<Szakdoli.Models.Raktar>

@{
    ViewData["Title"] = "Telephelyek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Telephelyek lista</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Új hozzáadása</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonSZam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonSZam)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RaktarId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RaktarId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RaktarId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
