@model IEnumerable<Szakdoli.Models.Keszlet>

@{
    ViewData["Title"] = "Készlet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TermekTipus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raktar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mennyiseg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TermekTipus.TipusNev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raktar.Nev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mennyiseg)
            </td>
            <td>
               
               | <a asp-action="Details" asp-route-id="@item.Id">Részletek</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
