@model IEnumerable<Szakdoli.Models.Keszlet>

@{
    ViewData["Title"] = "Készlet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TermekTipus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raktar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mennyiseg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TermekTipus.TipusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raktar.RaktarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mennyiseg)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
