@model IEnumerable<Szakdoli.Models.Log>

@{
    ViewData["Title"] = "Log bejegyzések";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Log bejegyzések</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leiras)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leiras)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Részletek</a>
            </td>
        </tr>
}
    </tbody>
</table>
